html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;

}
header{
    background: yellow;
    height: 300px;
}
main{
    background: lightcoral;
    height: 300px;
}
footer{
    background: #00ffc8;
    height: 300px;

}
