html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}   
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    
}
header{
    background: #bae1f8;
     
    grid-column-start: 1;
    grid-column-end: 3;

}
section{
    display: flex;
    flex-direction:column;
    justify-content:center;
    /*border:solid 1px red; 
    border-collapse: collapse;*/
    margin-bottom: 0;           
}
.logo{
    border-left: 10px solid #bae1f8;
    justify-content:left;
    border-collapse: collapse;
    height: 200px;
    width: 200px;

}
/*-------------   conteudo dos textos escritos -------------------------*/
main{
    background: green;
    grid-column-start: 1;
    grid-column-end: 2;

}
.artigo > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

}
aside{
    background: red;
    
    grid-column-start: 2;
    grid-column-end: 3;

}
footer{
    background: pink;
     
    grid-column-start: 1;
    grid-column-end: 3;
}